@font-face{
	font-family: font1;
	src: url("_.ttf");
}
@font-face{
	font-family: font2;
	src: url("_0.ttf");
}

body{
	margin: 0;
	background-color: #222;
}
#top-menu{
	position: sticky;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: #000;
	z-index: 1000;
}
.top-menu-btn{
	position: relative;
	display: inline-block;
	height: 40px;
	color: white;
	font-size: 35px;
	padding: 10px;
}
.vec{
	height: 50%;
	display: inline-block;
	transition-duration: 200ms;
	transition-property: transform;
}
.top-menu-btn:hover .vec{
	transform: rotateX(180deg);
}
.top-menu-btn:hover{
	color: #fdd;
	text-shadow: 0 0 10px #f00;
	background-color: rgba(255,0,0,0.1);
}
.box{
	position: relative;
	width: 100%;
}
#ad-box{
	height: 200px;
	background-image: linear-gradient(to right,#111,#888);
	overflow: hidden;
}
#ad-box-img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 100%;
	min-height: 100%;
}
.simple-border-btn{
	display: inline-block;
	padding: 20px;
	margin: 10px;
	border: solid #fff 3px;
	border-radius: 5px;
	color: #fff;
	font-size: 35px;
	text-align: center;
	text-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000 inset;
	transition-duration: 200ms;
	transition-property: padding, margin;
}
.simple-border-btn:hover{
	padding: 25px;
	margin: 5px;
}
.simple-solid-btn{
	display: inline-block;
	padding: 20px;
	margin: 10px;
	border: solid #974 3px;
	border-radius: 5px;
	color: #000;
	font-size: 35px;
	text-align: center;
	text-shadow: 0 0 10px #000;
	transition-duration: 200ms;
	transition-property: padding, margin;
	background-color: #974;
}
.simple-solid-btn:hover{
	padding: 25px;
	margin: 5px;
}
#ad-box-btn{
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%,-50%);
	margin: 0;
}
#ad-box-text{
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%,-50%);
	max-width: 40%;
	color: #fff;
	font-size: 35px;
	text-shadow: 0 0 10px #000;
}
#box1-img{
	width: 100%;
}
#box1-title{
	position: absolute;
	left: 75%;
	top: 50%;
	transform: translate(-50%,-50%);
	min-width: 40%;
	max-width: 50%;
	color: #fff;
	font-size: 30px;
	text-align: center;
}
#box1-title a{
	text-decoration: none;
}
#box1-title b{
	font-size: 50px;
}
.middle{
	width: 100%;
	height: 5px;
	background: linear-gradient(to right, #755b34, #111, #400);
}
#box1{
	margin-bottom: -4px;
}
#box2{
	margin-bottom: -4px;
}
#box2-img{
	width: 100%;
}
#box2-title{
	position: absolute;
	left: 25%;
	top: 30%;
	transform: translate(-50%,-50%);
	width: 40%;
	color: #fff;
	font-size: 30px;
	text-align: center;
}
#box2-title a{
	text-decoration: none;
}
#box2-title-img{
	width: 200px;
}
#box3{
	height: 1000px;
	background-color: #aaa;
}
.box3-card{
	position: absolute;
	height: 900px;
	width: 550px;
	top: 50px;
	background-color: #222;
}
#box3-card1{
	right: 51%;
}
#box3-card2{
	left: 51%;	
}
.box3-card-title{
	position: relative;
	color: #fff;
	font-size: 30px;
	text-align: center;
	z-index: 1;
}
.box3-card-title a{
	text-decoration: none;
}
.box3-card-title b{
	font-size: 50px;
}
.box3-card-img{
	width: 100%;
}
.box3-card-gradient{
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(90, 70, 40,1), rgba(85, 65, 40,1));
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.tmb-menu{
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	left: 0;
	top: 100%;
	transform: translateY(-50%) scaleY(0);
	transition-duration: 200ms;
	transition-property: transform;
}
.top-menu-btn:hover .tmb-menu{
	transform: translateY(0) scaleY(1);
}
#top-menu-btn1 .tmb-menu-btn{
	width: 200px;
}
#top-menu-btn2 .tmb-menu-btn{
	width: 250px;
}
#top-menu-btn3 .tmb-menu-btn{
	width: 300px;
}
#box4{
	color: #fff;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
#box4-more{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 800px;
	color: #fff;
	font-size: 30px;
	text-align: left;
}
#box4-simple{
	position: relative;
	display: inline-block;
	width: 400px;
	background-color: #fff;
	color: #000;
}
.box4-more{
	position: relative;
	top: 0;
	left: 0;
}
.box4-simple-content-img{
	width: 100%;
}
.box4-simple-content{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}
#box4-simple-content{
	padding-top: 2px;
	position: relative;
	width: 100%;
}
#box4-simple-buttons{
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #bbb;
}
.box4-simple-button{
	position: absolute;
	color: #000;
	padding: 10px; /*с двух сторон, поэтому ширину в кнопках уменьшаем на 20px*/
	height: 80px;
	font-size: 30px;
	text-align: center;
	z-index: 1;
}
#box4-simple-button1{
	left: 0;
	width: 105px; /*-20px*/
}
#box4-simple-button2{
	left: 125px;
	width: 105px; /*-20px*/
	border-bottom: solid #000 2px;
}
#box4-simple-button3{
	left: 250px;
	width: 130px; /*-20px*/
	border-bottom: solid #000 2px;
}
#box4-more2{
	display: none;
}
#box4-more3{
	display: none;
}
#box4-simple-content2{
	display: none;
}
#box4-simple-content3{
	display: none;
}
#box4-simple-button1{
	background-color: #fff;
}
#box5{
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	color: #fff;
}
.box5-card{
	position: relative;
	width: 400px;
	height: 600px;
	margin: 20px;
	background-color: #111;
	display: inline-block;
	text-align: left;
	overflow-y: hidden;
	transition-duration: 1s;
	transition-property: transform, box-shadow;
}
.box5-card:hover{
	transform: translateY(-15px);
	box-shadow: 0 30px 20px #000;
}
.box5-card-img{
	width: 100%;
}
.box5-card .date{
	color: #ff0;
	font-size: 30px;
	font-family: fantasy;
}
.box5-card .name{
	color: #fff;
	font-size: 50px;
	font-family: font1;
}
.box5-card .main{
	color: #fff;
	font-size: 30px;
}
.box5-card .text{
	position: relative;
	margin-left: 15px;
	margin-right: 15px;

}
#addition-top-menu{
	color: #fff;
	text-align: right;
}
#addition-top-menu a{
	text-decoration: none;
	color: #fff
}
#addition-top-menu a:hover{
	text-decoration: underline;
}
#box4-more table{
	background-color: #f00;
}
#footer{
	background-color: #111;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #fff;
	text-align: center;
	font-size: 25px;
}
#footer a{
	color: #fff;
	text-decoration: none;
}
#footer a:hover{
	text-decoration: underline;
}
#top-menu-right-btn{
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	padding: 10px;
	color: #000;
	background-color: #974;
	font-size: 35px;
	border-radius: 5px;
}
#top-menu-right-btn:hover{
	transform: translateY(0) scaleY(1);
}
#tmrb-menu{
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	left: 0;
	top: 100%;
	transform: translateY(-50%) scaleY(0);
	transition-duration: 200ms;
	transition-property: transform;
}
::-webkit-scrollbar{
	background-color: #333; 
}
::-webkit-scrollbar-thumb{
	background-color: #333;
	border-radius: 5px;
	background: linear-gradient(to right,#444,#852,#444);
}
#box6{
	padding-top: 100px;
	padding-bottom: 100px; 
}
#box6 table{
	margin: auto;
}
#box6 table th{
	position: relative;
	background-color: #333;
	height: 250px;
	width: 250px;
	overflow: hidden;
	box-shadow: 0 0 10px #666;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#box6 table img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	transition-duration: 500ms;
	transition-property: transform
}
#box6 table th:hover img{
	transform: scale(1.1);
}