@font-face{
	font-family: font1;
	src: url("_.ttf");
}
@font-face{
	font-family: font2;
	src: url("_0.ttf");
}

body{
	margin: 0;
	background-color: #222;
}
#top-menu{
	position: sticky;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: #000;
	z-index: 1000;
	min-width: 600px;
}
.top-menu-btn{
	position: relative;
	display: inline-block;
	height: 40px;
	color: white;
	font-size: 35px;
	padding: 10px;
}
.vec{
	height: 50%;
	display: inline-block;
	transition-duration: 200ms;
	transition-property: transform;
}
.top-menu-btn:hover .vec{
	transform: rotateX(180deg);
}
.top-menu-btn:hover{
	color: #aaa;
}
.box{
	position: relative;
	width: 100%;
	min-width: 600px;
}
#ad-box{
	height: 200px;
	background-image: linear-gradient(to right,#111,#888);
	overflow: hidden;
}
#ad-box-img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 100%;
	min-height: 100%;
}
.simple-border-btn{
	display: inline-block;
	padding: 20px;
	margin: 10px;
	border: solid #fff 3px;
	border-radius: 5px;
	color: #fff;
	font-size: 35px;
	text-align: center;
	text-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000 inset;
	transition-duration: 200ms;
	transition-property: padding, margin;
}
.simple-border-btn:hover{
	padding: 25px;
	margin: 5px;
}
.simple-solid-btn{
	display: inline-block;
	padding: 20px;
	margin: 10px;
	border: solid #974 3px;
	border-radius: 5px;
	color: #000;
	font-size: 35px;
	text-align: center;
	text-shadow: 0 0 10px #000;
	transition-duration: 200ms;
	transition-property: padding, margin;
	background-color: #974;
}
.simple-solid-btn:hover{
	padding: 25px;
	margin: 5px;
}
#ad-box-btn{
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%,-50%);
	margin: 0;
}
#ad-box-text{
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%,-50%);
	max-width: 40%;
	color: #fff;
	font-size: 35px;
	text-shadow: 0 0 10px #000;
}
#box1-img{
	width: 100%;
}
#box1-title{
	position: absolute;
	left: 75%;
	top: 50%;
	transform: translate(-50%,-50%);
	min-width: 40%;
	color: #777;
	font-size: 30px;
	text-align: center;
}
#box1-title a{
	text-decoration: none;
}
#box1-title b{
	font-size: 50px;
}
.middle{
	width: 100%;
	height: 5px;
	background: linear-gradient(to right, #755b34, #111, #400);
	min-width: 600px;
}
#box1{
	margin-bottom: -4px;
}
#box2{
	margin-bottom: -4px;
}
#box2-img{
	width: 100%;
}
#box2-title{
	position: absolute;
	left: 25%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 40%;
	color: #444;
	font-size: 30px;
	text-align: center;
	text-shadow: 5px 5px 4px #000;
}
#box2-title a{
	text-decoration: none;
}
#box2-title-img{
	width: 200px;
}
.tmb-menu{
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	left: 0;
	top: 100%;
	transform: translateY(-50%) scaleY(0);
	transition-duration: 200ms;
	transition-property: transform;
}
.top-menu-btn:hover .tmb-menu{
	transform: translateY(0) scaleY(1);
}
#top-menu-btn1 .tmb-menu-btn{
	width: 350px;
}
#top-menu-btn2 .tmb-menu-btn{
	width: 500px;
}
#top-menu-right-btn{
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	padding: 10px;
	color: #000;
	background-color: #974;
	font-size: 35px;
	border-radius: 5px;
}
#top-menu-right-btn:hover{
	transform: translateY(0) scaleY(1);
}
#tmrb-menu{
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	left: 0;
	top: 100%;
	transform: translateY(-50%) scaleY(0);
	transition-duration: 200ms;
	transition-property: transform;
}